@import url(reset.css);
@import url(fonts.css);
@import url(owl.carousel.css);
@import url(owl.carousel.min.css);

:root{
    --text-black: rgba(59, 59, 59, 1);
    --text-grey: rgba(97, 97, 100, 1);
    --white: #fff;
    --gret: rgba(185, 185, 185, 1);
    --pl-main: 80px;
    --transition-duration: 0.5s;
}
body{
    font-family: "InvolveRegular";
    color: var(--text-black);
}
.container{
    width: 100%;
    max-width: 1760px;
    margin: 0 auto;
}
.site-header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px 20px 10px;
}
.site-header-left{
    max-width: 140px;
}
.site-header-logo_pic{
    width: 100%;
    object-fit: contain;
}
.site-header-right{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1572px;
}
.site-header-top{
    width: 100%;
    max-width: 1572px;
    border-bottom: 1px solid rgba(185, 185, 185, 1);
    padding-bottom: 12px;
    display: flex;
    justify-content: end;
    gap: 40px;
}
.site-header-bottom{
    width: 100%;
    max-width: 1572px;
    padding-top: 21px;
    display: flex;
    justify-content: end;
    gap: 40px;
}
.site-header-nav{
    width: 100%;
    max-width: 809px;
}
.site-header-nav-list{
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.site-header-nav-item{
    list-style-type: none;
}
.site-header-nav__link{
    font-family: 'InvolveRegular';
    text-transform: uppercase;
    color: var(--text-black);
    font-size: 16px;
    text-decoration: none;
}
.site-header-search{
    cursor: pointer;
}
.site-header-region{
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}
.site-header-region-text{
    font-family: 'InvolveRegular';
    color: var(--text-black);
    font-size: 16px;
}
.site-header-contacts__link{
    text-decoration: none;
    font-family: 'InvolveRegular';
    color: var(--text-black);
    font-size: 16px;    
}
/*===SLIDER===*/
.slider{
    max-height: 750px;
    overflow: hidden;
}
.slider-wrap{
    max-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.slider-item{
    max-height: 750px;
    display: flex;
    align-items: center;
}
.slider-item-content{
    position: absolute;
    padding-left: var(--pl-main);
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.slider-item-text__caption{
    color: var(--white);
    font-family: "InvolveMedium";
    font-weight: 500;
    font-size: 48px;
}
.slider-item-action__link{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    font-family: 'InvolveRegular';
    font-size: 16px;
    border: 1px solid var(--white);
    padding: 12px 56px;
    transition: var(--transition-duration);
}
.slider-nav{
    position: absolute;
}
.slider-bg-filter{
    width: 100%;
    height: 100%;
    max-height: inherit;
    position: absolute;
    background: rgba(53, 53, 53, 0.4);
}
.slider-nav{
    padding-left: var(--pl-main);
    padding-bottom: 40px;
    display: flex;
    gap: 24px;
    align-items: center;
    position: absolute;
    bottom: 87px;
}
.slider-arrows{
    display: flex;
    align-items: center;
    gap: 18px;
}
.slider-arrows-item{
    cursor: pointer;
    background: none;
    border: none;
}
.slider-arrows-item--right{
    display: flex;
}
.slider-nav-dots{
    display: flex;
    gap: 16px;
}
.slider-nav-dots__item{
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
.slider-nav-dots__item.active{
    background-color: #fff;
}
/*=================================*/
.about-wrap{
    display: flex;
    align-items: center;
    gap: 20px;
}
.about-right{
    max-width: 597px;
}
.about__img{
    max-width: 950px;
}
.subtitle{
    font-family: "InvolveRegular";
    font-size: 16px;
    color: var(--text-black);
    padding-bottom: 12px;
}
.subtitle--color{
    color: var(--white);
}
.about-title, .about-text{
    padding-bottom: 48px;
}
.title-h2{
    font-family: "InvolveRegular";
    font-size: 40px;
    font-weight: 500;
    color: var(--text-black);
}
.title-h2--color{
    color: var(--white);
}
.par{
    font-family: "InvolveRegular";
    font-size: 16px;
    color: var(--text-black);
}
.par:not(:last-child){
    padding-bottom: 10px;
}
.abour-action{
    padding-top: 48px;
}
.btn{
    font-family: "InvolveRegular";
    font-size: 16px;
    color: var(--text-black);
    text-transform: uppercase;
    text-decoration: none;
    padding: 17px 40px;
    border: 1px solid var(--text-black);
    transition: var(--transition-duration);
}
.btn--white{
    color: var(--white);
    border-color: var(--white);
}
.colors{
    background-color: rgba(246, 246, 244, 1);
}
.colors-wrap{
    padding-top: 100px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.colors-title{
    padding-bottom: 40px;
}
.colors-info{
    display: flex;
    gap: 20px;
    align-items: center;
}
.item-title{
    display: flex;
    align-items: center;
    gap: 12px;
}
.item-title-h3{
    font-family: "InvolveRegular";
    font-size: 28px;
    color: var(--text-black);
}
.colors-info-item__text{
    font-family: "InvolveRegular";
    font-size: 16px;
    color: var(--text-grey);
    padding-bottom: 32px;
}
.colors-info-item{
    padding: 28px 24px;
    transition: var(--transition-duration);
}
.colors-info-item.show{
    padding: 75px 24px;
}
.colors-info-item:not(:nth-child(2)){
    border-top: 1px solid rgba(185, 185, 185, 1);
    border-bottom: 1px solid rgba(185, 185, 185, 1);
}
.colors-info-right{
    max-width: 597px;
}
.colors-info-item-link{
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
}
.colors-info-item-link__text{
    color: var(--text-black);
    font-size: 16px;
    font-family: "InvolveBold";
}
.colors-info-item-content{
    max-height: 0;
    overflow: hidden;
    transition: var(--transition-duration);
}
.colors-info-item-title-text{
    cursor: pointer;
}
.colors-info-item-title-toggle{
    transition: var(--transition-duration);
    position: relative;
}
.colors-info-item-title-toggle.show{
    transform: rotateX(180deg);
    top: 5px;
}
.colors-info-item-title{
    transition: var(--transition-duration);
}
.colors-info-item-title.show{
    padding-bottom: 28px;
}
.palette{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}
.palette-item{
    width: 100%;
    max-width: 951px;
    max-height: 400px;
}
.palette-item--brown{
    background-color: rgba(212, 173, 132, 1);
}
.palette-item--grey{
    background-color: rgba(79, 77, 80, 1);
}
.palette-item--flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    max-width: 197px;
    width: 100%;
    color: var(--white);
}
.line--margin{
    margin: 0;
}
.palette-item-wrap{
    padding: 124px 80px;
    max-height: inherit;
    height: inherit;
}
.palette-item-wrap--no-padding{
    padding: 0 !important;
}
.palette-item-wrap---padding{
    padding: 175px 366px;
}
.palette-item-wrap--flex{
    display: flex;
    gap: 2px;
}
.palette-item-title{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}
.palette-item-title--align{
    align-items: start;
}
.palette-item-title--padding{
    padding-bottom: 45px;
}
.palette-item-left{
    width: 100%;
    max-width: 659px;
    max-height: inherit;
    background-image: url("../images/palette.jpg");
    background-size: 154%;
    background-position: -25px;
}
.palette-item__img{
    max-height: inherit;
    width: 100%;
    object-fit: cover;
}
.title-h3{
    font-family: "InvolveRegular";
    color: var(--white);
    font-size: 28px;
    font-weight: 500;
}
.palette-item-subtitle{
    text-transform: uppercase;
}
.palette-item-link{
    text-decoration: none;
    max-height: inherit;
    height: 400px;
    display: block;
}
.palette-item-right{
    background-color: rgba(198, 188, 178, 1);
}
.palette-item-right-wrap{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
}
.palette-item__text{
    font-family: "InvolveRegular";
    font-size: 16px;
    color: var(--white);
    padding-top: 16px;
}
.palette-item-bottom{
    display: flex;
    gap: 6px;
    align-items: center;
}
.palette-item-link-text{
    color: var(--white);
    font-size: 16px;
    font-family: "InvolveMedium";
}
.about-paint-subtitle{
    text-align: center;
    text-transform: uppercase;
}
.about-paint{
    height: 943px;
}
.about-paint-wrap{
    padding-top: 120px;
}
.about-paint-title{
    display: flex;
    justify-content: center;
}
.about-paint-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 0;
}
.about-paint__img{
    max-width: 641px;
}
.about-paint-bg{
    position: absolute;
    padding-top: 325px;
}
/*=======COLOR SLIDER=========*/
.paint-slider{
    overflow: hidden;
    position: relative;
    top: 125px;
}
.paint-slider .owl-stage{
    display: flex;
}
.paint-slider{
    max-width: 391px;
}
.paint-slider-bottom{
    max-width: 391px;
}
.paint-slider-item__title h3{
    text-align: center;
    font-family: "InvolveRegular";
    font-size: 28px;
    color: var(--text-black);
}
.paint-slider-item__title{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}
.paint-slider-item-line{
    max-width: 180px;
}
.paint-slider-bottom{
    text-align: center;
    font-family: "InvolveRegular";
    font-size: 16px;
    color: var(--text-grey);
    padding-top: 16px;
}
.owl-nav.disabled{
    display: none;
}
.paint-slider-dots{
    display: flex;
    justify-content: center;
    gap: 12px;
}
.paint-slider-dots__item{
    border-radius: 50%;
    border: 1px solid var(--text-grey);
    width: 12px;
    height: 14px;
    cursor: pointer;
}
.paint-slider-dots__item.active{
    background-color: var(--text-black);
}
.paint-slider-dots{
    padding-top: 10px;
}
/*============================*/
.cooperation{
    background-image: url("../images/cooperation.jpg");
    background-color: rgba(164, 138, 103, 0.4);
    background-blend-mode: multiply;
    background-size: cover;
}
.cooperation-wrap{
    width: 100%;
    padding: 146px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cooperation-par{
    color: var(--white);
}
.cooperation-subtitle{
    text-align: center;
}
.cooperation-title{
    max-width: 598px;
    text-align: center;
    padding-bottom: 40px;
}
.cooperation-par{
    max-width: 550px;
    text-align: center;
    padding-bottom: 40px !important;
}
.cooperation-action{
    display: flex;
    gap: 10px;
}
.callback{
    display: flex;
    justify-content: center;
    background-image: url("../images/callback-bg.png");
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: color-dodge;
}
.callback-wrap{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.callback-title{
    padding-bottom: 40px;
}
.callback-text{
    font-family: "InvolveRegular";
    color: var(--text-black);
    max-width: 500px;
    text-align: center;
    padding-bottom: 48px;
}
.callback-form{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 32px;
}
.callback-personal{
    text-align: center;
    max-width: 598px;
    color: var(--text-grey);
    font-size: 14px;
    font-family: "InvolveRegular";
}
.callback-personal__link{
    color: var(--text-grey);
}
.callback__input, .callback__button{
    font-family: "InvolveRegular";
    font-size: 16px;
    background: transparent;
}
.callback__input{
    width: 392px;
    max-width: 392px;
    padding: 10px 16px;
    border: none;
    color: var(--grey);
    border: 1px solid var(--text-grey);
}
.callback__button{
    transition: 0.5s;
    border: 1px solid var(--text-black);
    padding: 11px 50px;
    text-transform: uppercase;
    cursor: pointer;
}
.site-footer{
    background-color: rgba(227, 223, 215, 1);
}
.footer-wrap{
    padding: 80px 80px 48px 80px;
}
.footer-top{
    padding-bottom: 48px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-black);
}
.footer-nav{
    width: 100%;
    max-width: 912px;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    text-transform: uppercase;
    color: var(--text-black);
    font-family: "InvolveMedium";
    font-size: 18px;
    padding-bottom: 24px;
}
.footer-nav-item-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: none;
    margin: 0 !important;
}
.footer-nav-list-item__link{
    text-decoration: none;
    color: var(--text-black);
    font-size: 16px;
}
.footer-contacts-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-contacts__link{
    text-decoration: none;
    color: var(--text-black);
    font-size: 16px;
}
.footer-bottom{
    padding-top: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-policy__link{
    text-decoration: none;
}
.footer-policy__link, .footer-copy{
    color: var(--text-black);
    font-size: 14px;
}
@media screen {
    .slider-item-action__link:hover{
        color: var(--text-black);
        background-color: var(--white);
    }
    .callback__button:hover{
        background-color: var(--text-black);
        color: var(--white);
    }
    .btn:hover{
        color: var(--white);
        background-color: var(--text-black);
    }
    .btn--white:hover{
        color: var(--text-black);
        background-color: var(--white);
    }
}
@media(max-width: 1900px){
    .slider-nav{
        bottom: 0;
        padding-bottom: 2px;
    }
}