@import url(reset.css);
@import url(fonts.css);

:root{
    --text-black: rgba(59, 59, 59, 1);
    --white: #fff;
    --pl-main: 80px;
}

.container{
    width: 100%;
    max-width: 1760px;
    margin: 0 auto;
}

.site-header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px 20px 10px;
}
.site-header-left{
    max-width: 140px;
}
.site-header-logo_pic{
    width: 100%;
    object-fit: contain;
}
.site-header-right{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1572px;
}
.site-header-top{
    width: 100%;
    max-width: 1572px;
    border-bottom: 1px solid rgba(185, 185, 185, 1);
    padding-bottom: 12px;
    display: flex;
    justify-content: end;
    gap: 40px;
}
.site-header-bottom{
    width: 100%;
    max-width: 1572px;
    padding-top: 21px;
    display: flex;
    justify-content: end;
    gap: 40px;
}
.site-header-nav{
    width: 100%;
    max-width: 809px;
}
.site-header-nav-list{
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.site-header-nav-item{
    list-style-type: none;
}
.site-header-nav__link{
    font-family: 'InvolveRegualar';
    text-transform: uppercase;
    color: var(--text-black);
    font-size: 16px;
    text-decoration: none;
}
.site-header-search{
    cursor: pointer;
}
.site-header-region{
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}
.site-header-region-text{
    font-family: 'InvolveRegualar';
    color: var(--text-black);
    font-size: 16px;
}
.site-header-contacts__link{
    text-decoration: none;
    font-family: 'InvolveRegualar';
    color: var(--text-black);
    font-size: 16px;    
}
/*===SLIDER===*/
.slider{
    max-height: 750px;
    overflow: hidden;
}
.slider-wrap{
    max-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.slider-item{
    max-height: 750px;
    display: flex;
    align-items: center;
}
.slider-item-content{
    position: absolute;
    padding-left: var(--pl-main);
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.slider-item-text__caption{
    color: var(--white);
    font-family: "InvolveMedium";
    font-weight: 500;
    font-size: 48px;
}
.slider-item-action__link{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    font-family: 'InvolveRegualar';
    font-size: 16px;
    border: 1px solid var(--white);
    padding: 12px 56px;
    transition: 0.5s;
}
.slider-nav{
    position: absolute;
}
.slider-bg-filter{
    width: 100%;
    height: 100%;
    max-height: inherit;
    position: absolute;
    background: rgba(53, 53, 53, 0.4);
}
.slider-nav{
    padding-left: var(--pl-main);
    padding-bottom: 40px;
    display: flex;
    gap: 24px;
    align-items: center;
    position: absolute;
    bottom: 87px;
}
.slider-arrows{
    display: flex;
    align-items: center;
    gap: 18px;
}
.slider-arrows-item{
    cursor: pointer;
    background: none;
    border: none;
}
.slider-arrows-item--right{
    display: flex;
}
.slider-nav-dots{
    display: flex;
    gap: 16px;
}
.slider-nav-dots__item{
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
.slider-nav-dots__item.active{
    background-color: #fff;
}
.about{
    display: flex;
    align-items: center;
    gap: 20px;
}
.about-right{
    max-width: 597px;
}
.about__img{
    max-width: 950px;
}
.subtitle{
    font-family: "InvolveRegualar";
    font-size: 16px;
    color: var(--text-black);
    padding-bottom: 12px;
}
.about-title, .about-text{
    padding-bottom: 48px;
}
.title-h2{
    font-family: "InvolveRegualar";
    font-size: 40px;
    color: var(--text-black);
}
.par{
    font-family: "InvolveRegualar";
    font-size: 16px;
    color: var(--text-black);
}
.par:not(:last-child){
    padding-bottom: 10px;
}
.abour-action{
    padding-top: 48px;
}
.btn{
    font-family: "InvolveRegualar";
    font-size: 16px;
    color: var(--text-black);
    text-transform: uppercase;
    text-decoration: none;
    padding: 17px 40px;
    border: 1px solid var(--text-black);
    transition: 0.5s;
}

@media screen {
    .slider-item-action__link:hover{
        color: var(--text-black);
        background-color: var(--white);
    }
    .btn:hover{
        color: var(--white);
        background-color: var(--text-black);
    }
}
@media(max-width: 1900px){
    .slider-nav{
        bottom: 0;
        padding-bottom: 2px;
    }
}